.profile__edit-button {
    border: 1px solid #FFFFFF;
    margin-left: 19px;
    padding: 0;
    box-sizing: border-box;
    background: url(../../../images/Button_correct.svg);
    background-size: 10px 10px;
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-color: transparent;
    transition: opacity 4s ease-in linear;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .profile__edit-button {
        margin-left: 10px;
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
    }
}
